<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>List of Test Entities</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <!-- Используем Thymeleaf для итерации по списку -->
    <tr th:each="test : ${list}">
        <td th:text="${test.id}">ID</td>
        <td th:text="${test.name}">Name</td>
    </tr>
    </tbody>
</table>
</body>
</html>