<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .checked {
            color: green;
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <h1>Applications List</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Applied</th>
            <th>Answered</th>
            <th>Active</th>
            <th>Company</th>
            <th>Application Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="app : ${applications}">
            <td th:text="${app.id}"></td>
            <td th:text="${app.name}"></td>
            <td th:text="${app.description}"></td>
            <td>
                <span th:if="${app.applied}" class="checked">&#x2714;</span>
                <span th:if="${!app.applied}"></span>
            </td>
            <td>
                <span th:if="${app.answered}" class="checked">&#x2714;</span>
                <span th:if="${!app.answered}"></span>
            </td>
            <td>
                <span th:if="${app.active}" class="checked">&#x2714;</span>
                <span th:if="${!app.active}"></span>
            </td>
<!--            <td th:text="${app.company.name}"></td>-->
            <td th:text="${app.applicationDate}"></td>
            <td>
                <a th:href="@{/applications/{id}(id=${app.id})}">View Details</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/applications/new}">Add New Application</a>

</body>
</html>